[Unit]
Description=Tellstick service daemon

[Service]
Type=simple
ExecStart=/usr/sbin/telldusd --nodaemon --debug

[Install]
WantedBy=multi-user.target
